*{
    box-sizing: border-box;
    letter-spacing: 0;
    text-align: left;
    font-family: Quicksand;
}

.container{
    width: 1200px;
    margin:0px auto;
    
}

body{
    background-color: #EBECF2;
    font-family: Lato;
    font-weight: normal;
}

header{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #384B59;
    z-index: 1000;
}

.header{
    padding: 10px 0px;
    margin-right: 24px;
    margin-left:24px;
}

.spire{
    display: inline-block;
    margin-top: -1px;
}

.dash3{
    display: inline-block;
    margin: 14px 0px 0px 60px;
    vertical-align: top;
}

.box2{
    width: 143px;
    height: 40.41px;
    line-height: 40.41px;
    float: right;
}

.icon{
    display: inline;
    vertical-align: middle
}

.message{
    position: relative;
}
.setting{
    display: inline;
    /* margin: 0px 21px 0px 42px; */
}

.red6{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 0px solid red;
    border-radius: 50%;
    bottom: 6px;
    left: 10px;
    font-size: 14px;
    font-family: Lato;
    background-color: red;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
   
}

.box3{
     /* float: right; */
    height: 40px;
    width: 40px; 
    display: inline-block;
    text-align: center;
}

.box3:hover{
    background: #E9E9E91A;
}

.content1{
    padding-top: 100px;
    margin-right: 24px;
    margin-left:24px;

}
.dots{
    float: right;
    margin-right:24px;
}

.text1{
    margin-bottom: 36px;
}

.font18{
    display: inline-block;
    /* float: left; */
    font-size: 18px;
    color: #363F45;
}

.font16{
    padding-top: 11px;
    padding-left: 15px;
    margin-bottom: 38px;
    font-size: 16px;
    color: #FFFFFF;
    float: left;
}

.font30{
    margin-left: 15px;
    font-size: 30px;
    color: #FFFFFF;
}


.lastbox{
    margin-right: 0px !important;
}

.box5{    
    float:right;
    background-color: rgba(0,0,0,0.1);
    width:90px;
    height:110px;
    line-height: 110px;
    text-align: center;    
}

.cityimg{
    vertical-align:middle;
}

.budget{
    background-color:#FEC006;
}

.milestone{
    background-color:#E81D62;
}

.task{
    background-color: #8AC249;
}

.document{
    background-color:#2095F2;
}

.clear{
    clear: both;
}

.content2{
    margin-top: 55px;
    margin-right: 24px;
    margin-left:24px;
}

.tag{
    float: right;
}

.box4{
    display: inline-block;
    margin-right: 24px;
    width: 270px;
    float: left;
}
.milestone1{
    background-color: #FFFFFF;    
 }

 .box7{
    margin: 0px auto;
    width: 111px;
    height: 111px;
    border-radius: 50%;
} 

.box8{
    height: 91px;
    border-radius: 50%;
    background-color: #F6EFD2;
    padding-top: 14px;
    padding-bottom: 19px;
} 

.font30a{
    color: #363F45;
    font-size: 30px;
    text-align: center;
}

.font16a{
    color: #363F45;
    font-size: 16px;
    text-align: center;
}

.box9{
    margin-top: 1px;
}

.font16b{
vertical-align: middle;
font-size: 16px;
font-family: 'Lato', sans-serif;
padding-right:22px;
text-align: center;
float: right;
}

.milestone2{
    height: 59px; line-height: 59px;

}
.box10{
    margin-left:57px;
    font-size: 34px;
    font-weight: bold;
    color: #E1E2E9;
    vertical-align: middle;
}

.slidebar{    
    background-color: #F5F5F5;
    margin-top:34px;
}

.slideborder{
    width: 299px;
    border: 2.5px solid #D4C69B;
    border-radius: 3px;
}

.checklist{
    width: 564px;
    margin-right: 24px;
    background-color: #FFFFFF;
    /* float:left; */
    display: inline-block;
}

li{
    border-bottom: 1px solid #EBECF2;
    font-size: 14px;
    color: #919599;
    display: block;
    height: 56px;
    /* line-height: 55px; */
    padding: 0px 30px;
    /* padding: 18px 30px 0px; */
}
/* li::after{
    margin-bottom: 1px;
} */
.heading{
    padding-top:18px;
    /* padding-bottom: 17px; */
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.greencheck{
    color: #4BAE4F;
    background-color: #E1F5E3;
}

.date{    
    text-align: center;
    font-size: 13px;
    font-family: Lato;
    display: inline-block;
    width: 70px;
}
.listitems{
    padding-top: 15px;
    padding-bottom: 13px;
}
.listtext{
    width: 271px;
    display: inline-block;
}

.listcontent{
    display: inline-block;
    margin-left: 117px; 
    vertical-align: middle;
    /* float: right; */
}
.checkbox{
    margin-left: 19.16px;
    border: 1px solid #CED4D9;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: super;
}

._3dots{
    float: right;
}

.content3{    
    margin: 70px 24px 110px;
    
}

.range{   
    width: 332px;
    float: right;
    background-color: #E1E2E6;
}
.rangedata{
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 32px 0px 30px;
    /* margin-top: 32px; */
    margin-bottom: 60px;
}

.greenrange1{
    position: relative;
    width: 43%;
    border: 4.5px solid #5FCCC1;
    float: left;
    border-radius: 5px;
}

.greenrange2{
    position: relative;
    width: 58%;
    border: 4.5px solid #5FCCC1;
    float: left;
    border-radius: 5px;
}

.greenrange3{
    position: relative;
    width: 32%;
    border: 4.5px solid #5FCCC1;
    float: left;
    border-radius: 5px;
}

.check{
    /* float: right; */
    margin-left: 19.5px;
    vertical-align: super;
}

footer{    
    background-color: #384B59;
    height:44px;
}

.footer1{
    color: #9CAAB4;
    text-align: right;
    font-family: Lato;
    font-size: 11px;
    padding-top: 17px;
    margin-right: 24px;
    margin-left:24px
}

.arrowBox{
    position:absolute;
    width: 32px;
    background-color: #5FCCC1;
    padding: 2px 4.5px 3px 3.5px;
    font-size: 12px;
    font-family: Lato;
    text-align: center;
    color: #FFFFFF;
    bottom: 11px;
    right: -18px;
    border-radius: 3px;
}

.arrowBox::after{
    content: " ";
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 5px solid #5FCCC1;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent; 
    top: 100%;
    left:50%;
    margin-left: -5px;
}

.test{
    display: inline-block;
}
