*{
    box-sizing: border-box;
    letter-spacing: 0;
    text-align: left;
    font-family: Quicksand;
}


.container{
    width: 1200px;
    height:auto;
    background-color: #EBECF2;
    margin:auto;
}

body{
    /* width: 1200px; */
    /* height:auto; */
    background-color: #EBECF2;
    /* margin:auto; */
}
.header{
    padding: 10px 24px;
    width:1200px;
    background-color: #384B59;
    margin:auto;

}
.spire{
    display: inline-block;
    margin-top: -1px;
}

.dash3{
    display: inline-block;
    margin: 14px 0px 0px 60px;
    vertical-align: top;
}

.box2{
    width: 143px;
    height: 40.41px;
    float: right;
}
/* 
.message{
    vertical-align: top;
    margin-top: 12px;

} */
/* 
.setting{
    vertical-align: top;
    margin-left: 42px;
    margin-top: 10.41px;
} */

.setting{
    display: block;
    margin: 9.5px auto;
}
.message{
    position: relative;
    display: block;
    margin: 11.5 auto;
}
.red6{
    position: absolute;
    width: 20px;
    border: 3px solid red;
    border-radius: 50%;
    margin-top: -37px;
    margin-left: 22px;
    font-size: 14px;
    font-family: Lato;
    background-color: red;
    color: #FFFFFF;
}
.box3{
    float: right;
    height: 40px;
    width: 40px;
}
.ellipse{
    display: block;
    margin: 11px auto;
}

.box3:hover{
    background: #E9E9E91A;
}


.content1{
    margin: 43px 24px 0px;
}

.dots{
    float: right;
    margin-right: 12px;

}
.text1{
    margin-bottom: 36px;
}
.font18{
    font-size: 18px;
    color: #363F45;
}
.font16{
    padding-top: 11px;
    padding-left: 15px;
    font-size: 16px;
    color: #FFFFFF;
    float: left;

}

.font30{
    margin-top: 65px;
    margin-left: 15px;
    font-size: 30px;
    color: #FFFFFF;
    /* float: left; */

}

.box4{
    float: left;
    margin-right: 24px;
    width: 270px;
    }

.lastbox{
    margin-right: 0px !important;
}
.box5{
    background-color: rgba(0,0,0,0.1);
    float: right;
}

.forma1{
    margin: 34px 33px;
}
.shape1{
    margin: 32px 22px 31px 23px;
}

.forma2{
    margin: 34px 28px 33px;
}

.forma3{
    margin: 32px 26px 31px;
}

.budget{
    background-color:#FEC006;
}

.milestone{
    background-color:#E81D62;
}

.task{
    background-color: #8AC249;
}

.document{
    background-color:#2095F2;
}

.clear{
    clear: both;
}

.content2{
    margin: 267px 24px 0px;
    /* border: 1px solid black; */

}

.text2{
    margin-bottom: 21px;
}

.less{
       margin-left: 996px;
}

.greater{
    float: right;
}
.milestone1{
    background-color: #FFFFFF;
    /* border: 1px solid red; */
 }

 .box7{
    margin: 28px 79px 27px 80px;
    width: 111px;
    height: 111px;
    border-radius: 50%;
} 
.green{
    border: 10px solid #8AC249;
}

.yellow{

    border: 10px solid #FEC006;
}
.grey
{
    border: 10px solid #F1F1F1;
}


.box8{
    /* margin: 28px 79px 27px 80px; */
    width: 91px;
    height: 91px;
    border-radius: 50%;
    background-color: #F6EFD2;
} 
.white{
    border: 2px solid #FFFFFF;
    /* border: 2px solid red; */
}
.font30a{
    color: #363F45;
    font-size: 30px;
    margin-top: 14px;
    text-align: center;
}

.font16a{
    color: #363F45;
    font-size: 16px;
    text-align: center;
    margin-bottom: 19px;
    padding-top: 4px;
}

.box9{
    margin-top: 1px;
}

.font16b{
font-size: 16px;
font-family: 'Lato', sans-serif;
/* padding: 20px 0px; */
margin-top: 20px;
margin-bottom: 5px;
text-align: center;
margin-left: 70px;
/* background-color:  #FFFFFF; */
}

.box10{
    font-size: 34px;
    font-weight: bold;
    /* margin-top: 9px; */
    padding-left: 49px;
    text-align: center;
    color: #E1E2E9;
    opacity: 1;
    vertical-align: middle;
}

.slidebar{
    /* border: 1px solid black; */
    background-color: #F5F5F5;
    margin:34px 24px 0px;
    /* width: 1152px; */
}

.slideborder{
    width: 299px;
    border: 2.5px solid #D4C69B;
    /* border-width: 4px; */
    /* border-color: red; */
    border-radius: 3px;
    /* height: 5px; */
    /* float: left;     */
}

.checklist{
    width: 564px;
    /* margin: 70px 0px 0px 24px; */
    margin-right: 24px;
    background-color: #FFFFFF;
    float:left;
   
}
li{
    padding: 23px 30px 19px 29.5px;
    border-bottom: 2px solid #EBECF2;
    font-size: 14px;
    color: #919599;
}
.heading{
    padding-top:18px;
    padding-bottom: 17px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.greencheck{
    color: #4BAE4F;
    background-color: #E1F5E3;
}
.date{
    /* padding-top: 15px; */
    margin-top: -8px;
    text-align: center;
    /* vertical-align: 15px; */
    float: right;
}
.checkbox{
    margin-left: 19.16px;
    border: 1px solid #CED4D9;
    padding: 17px 0px 0px 17px;
    float: right;
}
._3dots{
    float: right;
}
.content3{
    /* float: left; */
    margin: 70px 24px 0px;
    padding-bottom: 110px;
}
.rangedata{
    padding: 56px 32px 8px 29.5px;
    color: black;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    border-bottom: none;
}
.range{
    /* margin-right: 79.5px; */
    width: 332px;
    /* border: 1px solid red; */
    float: right;
    background-color: #E1E2E6;
}

.greenrange1{
    position: relative;
    width: 43%;
    border: 4.5px solid #5FCCC1;
    float: left;
    border-radius: 5px;
}
.greenrange2{
    position: relative;
    width: 58%;
    border: 4.5px solid #5FCCC1;
    float: left;
    border-radius: 5px;
}
.greenrange3{
    position: relative;
    width: 32%;
    border: 4.5px solid #5FCCC1;
    float: left;
    border-radius: 5px;
}
.lastrange{
    padding-bottom: 56px;
}
.check{
    float: right;
    margin-left: 26.5px;
}

footer{
    /* padding: 17px 226px 16px 0px; */
    background-color: #384B59;
    /* max-width: 100%; */
    /* color: #9CAAB4; */
    /* text-align: right; */
    /* font-family: Lato; */
    /* font-size: 11px; */
}

.footer1{
    width: 1200px;
    margin: auto;
    padding: 17px 226px 16px 0px;
    /* background-color: #384B59; */
    color: #9CAAB4;
    text-align: right;
    font-family: Lato;
    font-size: 11px;
}
.arrowBox{
    position:absolute;
    width: 32px;
    background-color: #5FCCC1;
    padding: 2px 4.5px 3px 3.5px;
    font-size: 12px;
    font-family: Lato;
    text-align: center;
    color: #FFFFFF;
    bottom: 11px;
    right: -18px;
    border-radius: 3px;

}
.arrowBox::after{
    content: " ";
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 5px solid #5FCCC1;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent; 
    top: 100%;
    left:50%;
    margin-left: -5px;
}